@{
    ViewData["Title"] = "Home Page";
}
<style>
    .welcome-photo img{
        display: block;
        margin: 0 auto;
    }
</style>
<!-- <div class="text-center">
    <h1 class="display-4">Welcome to Flavorsome Delights. Enjoy the variety of recipes.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->

<div class="jumbotron jumbotron-fluid">
    <div class="welcome-photo">
        <img src="~/img/WelcomePhoto.png"/>
    </div>
</div>
