@{
    ViewData["Title"] = "Home Page";
}
<style>
    .welcome-photo img{
        display: block;
        margin: 0 auto;
    }
</style>

<div class="jumbotron jumbotron-fluid">
    <div class="welcome-photo">
        <img src="~/img/WelcomePhoto.png" />
    </div>
</div>
