@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="welcome-photo">
        <img src="~/img/WelcomePhoto.png" display: block; margin: 0 auto; />
    </div>
</div>
