@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    
</style>

<div class="text-formatting">
    <h1>@ViewData["Title"]</h1>
    <p>
        At Flavorsome Delights, we value your privacy and are committed to protecting your personal information. This Privacy Policy outlines how we
        collect, use, disclose, and safeguard your data when you access or interact with our website. By using our website, you agree to the terms
        outlined in this Privacy Policy.
    </p>
    <ol>
        <li><strong>Information We Collect:</strong></li>
    </ol>
    <p>
        1.1 Personal Information: When you visit our website, we may collect certain personal information from you, such as your name, email address,
        and any other information you voluntarily provide to us when you register an account, subscribe to our newsletter, leave comments, or contact
        us through our contact form.<br />1.2 Non-Personal Information: We may also collect non-personal information, such as your IP address, browser
        type, operating system, referring URLs, and other technical information when you interact with our website. This data is used to improve our
        website&apos;s performance and user experience.
    </p>
    <ol start="2">
        <li><strong>Use of Information:</strong></li>
    </ol>
    <p>
        2.1 Personal Information: We may use your personal information to provide you with the services and features offered on our website, such as
        sending you newsletters, responding to your inquiries, and personalizing your experience.<br />2.2 Non-Personal Information: Non-personal information is primarily used to analyze trends, track user engagement, and gather demographic
        information. This helps us enhance our website&apos;s content and functionality.
    </p>
    <ol start="3">
        <li><strong>Cookies and Similar Technologies:</strong></li>
    </ol>
    <p>We use cookies and similar technologies (e.g., web beacons) to collect and store certain information automatically when you interact with our 
        website. Cookies allow us to remember your preferences, analyze your usage patterns, and provide a more personalized experience. You can 
        adjust your browser settings to refuse cookies, but this may limit some features and functionality of our website.</p>
    <ol start="4">
        <li><strong>Third-Party Services:</strong></li>
    </ol>
    <p>We may use third-party services, such as analytics providers and advertising networks, that may collect and use your information for their 
        purposes. These third-party services have their own privacy policies, and we encourage you to review them. We are not responsible for the 
        practices of these third-party services.</p>
    <ol start="5">
        <li><strong>Disclosure of Information:</strong></li>
    </ol>
    <p>We will not sell, trade, or otherwise transfer your personal information to third parties without your consent, except in the following circumstances:</p>
    <ul>
        <li>To our trusted third-party service providers who assist us in operating our website and conducting our business, subject to strict 
            confidentiality agreements.</li>
        <li>To comply with legal requirements, enforce our website&apos;s policies, or protect our rights, property, or safety.</li>
    </ul>
    <ol start="6">
        <li><strong>Data Security:</strong></li>
    </ol>
    <p>We employ industry-standard security measures to protect your personal information from unauthorized access, disclosure, alteration, or 
        destruction. However, no data transmission over the internet or electronic storage system is entirely secure. We cannot guarantee the 
        absolute security of your information.</p>
    <ol start="7">
        <li><strong>Children&apos;s Privacy:</strong></li>
    </ol>
    <p>Our website is not intended for children under the age of 13. We do not knowingly collect or solicit personal information from children. 
        If you believe that we have inadvertently collected personal information from a child, please contact us immediately, and we will take 
        appropriate steps to remove the information from our systems.</p>
    <ol start="8">
        <li><strong>Changes to Privacy Policy:</strong></li>
    </ol>
    <p>We reserve the right to modify this Privacy Policy at any time. Any changes will be posted on this page, and the &quot;Effective Date&quot; 
        will be updated accordingly. We encourage you to review this Privacy Policy periodically.</p>
    <ol start="9">
        <li><strong>Contact Us:</strong></li>
    </ol>
    <p>
        If you have any questions, concerns, or requests related to this Privacy Policy, please contact us at flavorsomedelights@gmail.com.<br />
        By using our website, you acknowledge that you have read and understood this Privacy Policy and agree to its terms. Thank you for visiting
        Flavorsome Delights and trusting us with your personal information.</p>
</div>