@{
    ViewData["Title"] = "Create New Recipe Page";
}

<!-- <div class="text-center">
    <h1 class="display-4">Welcome to Flavorsome Delights. Enjoy the variety of recipes.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Create new recipe</h1>
        <p class="lead">Flavorsome Delights</p>
    </div>
</div>
