html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #deb373;
}

.containerfooter {
    background-color: #9c7d4f;
    color: white;
}


a.nav-link {
    font-size: 30px;
    margin: 7px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.navbar-brand img {
    width: auto;
    height: 56px;
}

img.images-list {
    width: 100%;
    height: 11rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    width: 20rem;
    height: 24rem;
}

.card-link {
    text-decoration: none;
    color: black;
}

    .card-link:hover {
        color: #db793b;
    }

.details-img {
    height: 30rem;
    max-width: 30rem;
}

.preparation{
    
}