html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #9f7a77;
    background-repeat: no-repeat;
    background-size: cover;
}

.fullscreen-image {
    background-image: url('../img/welcomephoto.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: -1rem;
}

.containerfooter {
    background-color: #0000008c;
    color: white;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    justify-content: center;
}


a.nav-link {
    font-size: 1rem;
    margin: 7px;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

.navbar-brand img {
    width: auto;
    height: 56px;
}

img.images-list {
    width: 100%;
    height: 11rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    width: 20rem;
    height: 24rem;
}

.card-link {
    text-decoration: none;
    color: black;
}

    .card-link:hover {
        color: #9f7a77;
    }

.privacy-link {
    text-decoration: none;
    color: #404040;
}

    .privacy-link:hover {
        color: #deb373;
    }

.details-img {
    height: 30rem;
    max-width: 30rem;
    border-radius: 10px;
}


.container-create-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.jumbotron-create-form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.text-formatting {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    color: #2d2f31;
    background-color: #ffffff;
    justify-content: center;
    text-align: justify;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.material-symbols-outlined {
    position: relative;
    top: 21rem;
    right: 21rem;
    border-radius: 15px;
}

    .material-symbols-outlined:hover {
        background-color: #e85b56;
    }



img.icons {
    width: 8%;
    height: 8%;
}

ul {
    list-style-image: linear-gradient(to left bottom, white, black);
}

.details-container {
    margin: 0 2rem;
    background-color: #0000005e;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
}
